.footer {
  background-color: var(--header-footer-bg-color);
  color: var(--header-footer-text-color);
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid grey;
}

.footer .social-links a {
  color: var(--header-footer-text-color);
  margin: 0 10px;
  text-decoration: none;
}

.footer .social-links a:hover {
  color: #9147ff;
}