/* Light mode colors */
:root {
  --background-color: #efeff1;
  --text-color: #000000;
  --header-footer-bg-color: #374850;
  --header-footer-text-color: #ffffff;
  --dark-mode-toggle-bg-color: #374850;
  --dark-mode-toggle-hover-bg-color: #000000;
}

/* Dark mode colors */
body.dark-mode {
  --background-color: #000000;
  --text-color: #03DAC5;
  --header-footer-bg-color: #121212;
  --header-footer-text-color: #03DAC5;
  --dark-mode-toggle-bg-color: #121212;
  --dark-mode-toggle-hover-bg-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}