.cpu-container {
  background-color: #0b6623;
  width: 650px;
  height: 400px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.cpu-info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50px;
  width: 30%;
  color: #fff;
  left: 25%;
  transform: translateX(-50%);
}

.cpu-chip {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-unit {
  position: absolute;
  text-align: center;
  color: #fff;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  background-color: #444;
  top: 75px;
}

.pins-container {
  position: absolute;
  top: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.pin {
  width: 10px;
  height: 40px;
  background-color: gold;
  border-radius: 3px;
}

.alu {
  position: absolute;
  top: 50px;
  right: 250px;
  width: 100px;
  padding: 10px;
  text-align: center;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
}

.active-alu {
  background-color: lightblue;
}

.register {
  position: absolute;
  width: 60px;
  height: 80px;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eax {
  top: 0px;
  left: 200px;
}

.ebx {
  top: 0px;
  left: 300px;
}

.ecx {
  top: 120px;
  left: 200px;
}

.edx {
  top: 120px;
  left: 300px;
}

.active-execute {
  background-color: lightyellow;
  color: black;
}

.active-decode {
  background-color: yellow;
  color: black;
}

.clock-cycle {
  position: absolute;
  top: 200px;
  text-align: center;
  color: #fff;
  left: 70px;
  transform: translateX(-50%);
}

.next-button {
  position: absolute;
  top: 290px;
  left: 300px;
  transform: translateX(-50%);
  padding: 10px 30px;
  width: 200px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.next-button:hover {
  background-color: #0056b3;
}

.bus {
  position: absolute;
  width: 5px;
  height: 175px;
  background-color: grey;
  bottom: 65px;
}

.active-bus {
  background-color: #ff6600;
}